/* ------- MAIN MODULE STYLES ------- */
body {
  background-color: teal;
}

header,
footer {
  display: block;

  margin: 10px;
  padding: 10px;

  background-color: tomato;
}

main {
  display: block;

  margin: 10px;
  padding: 30px;

  background-color: thistle;
}
/* ^------- MAIN MODULE STYLES -------^ */
