.nav__link {
  display: inline-block;
  margin: 2px;
  padding: 5px;

  font-size: 20px;
  color: white;

  border-radius: 5px;
  background-color: teal;
  transition: color 250ms linear, background-color 250ms linear;
}

.nav__link:hover,
.nav__link:focus {
  color: teal;

  background-color: white;
}
